@charset "UTF-8";

.container{
    background-color: #dbdada;
    border: 2px solid red;
    padding: 15px;
    max-width: 300px;
    height: 300px;

    display: flex;
    /* alinhamento horizontal*/
    justify-content: space-between;

    /* alinhamento vertical*/
    align-items: center;
    flex-wrap: wrap;

}

.item{
    background-color:#dbdada;
    border: 2px solid blue;
    height: 50px;
    width: 50px;
}

.box{
    background-color:#dbdada;
    border: 2px solid blue;
    height: 50px;
    flex-basis: 30px ;
} 